<div class="container">
<h1>Listado</h1>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" name= " filterPost" placeholder="Search.." [(ngModel)]="filterPost">
               </div>
    </div>
   </div>
   <div class="row">
  <div class="col">
    <table class="table table-striped">
        <thead>
            <tr >
                <th>id</th>
                <th>producto</th>
                <th>marca</th>
                <th>precio</th>
                <th>descuento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of post | filter:filterPost">
                <td>{{post.id}}</td>
                <td>{{post.producto}}</td>
                <td>{{post.marca}}</td>
                <td>{{post.precio}}</td>
                <td>{{post.descuento}}</td>
            </tr>
        </tbody>
    </table>
    </div>
   </div>
</div>